@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #0d0d0d;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-league: "League Gothic", sans-serif;
  --font-sans: "Arial", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0d0d;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans) !important;
}

.mis-title {
  font-family: var(--font-league) !important;
}
